/* Body elements */

.block {

    margin-bottom: 5%;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.5);
}

#blockGallery {

    margin-bottom: 5%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(255,255,255,0.5);
}

/* Header Monkey*/

.title {
    padding: 20px;
}

/* Image */
img {
    width: 400px;
    height: 300px;
}

.photos {
    display: inline-block;
}

/* Body About */
.about {
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

/* Body Upload*/

#upload {
    padding: 10px;
}
/* - Upload form */

#uploadForm {
    margin: 1%;
}

#uploadForm input {
    margin: 10px;
}



