
<h2 class="title">Upload Marmot</h2>
{   if $allOk}
<p>Gràcies per la teva participació!<p>
    <br><br>
    <a href= {$url.global}/upload>Tornar</a>
    {   else}
<form id="uploadForm" action="" method="POST">
    Nom de la imatge: <input type="text" id="nomMarmot" name="nomMarmot">
    <br>
    URL de la imatge: <input type="text" id="urlMarmot" name="urlMarmot">
    <br>
    <input type="submit" value="Upload">
</form>
{   /if}
