<h2 class="title">Upload Moneky</h2>
{   if $allOk}
<p>Gràcies per la teva participació!<p>
    <br><br>
    <a href= {$url.global}/upload>Tornar</a>
    {   else}
<form id="uploadForm" action="" method="POST">
    Nom de la imatge: <input type="text" id="nomMonkey" name="nomMonkey">
    <br>
    URL de la imatge: <input type="text" id="urlMonkey" name="urlMonkey">
    <br>
    <input type="submit" value="Upload">
</form>
{   /if}
