
<h2 class="title">{$platypusName}</h2>
<div class="photos">
    {   if !$finalPlatypus}
        <img class="secundaria" src="{$platypusURL_0}">
        <img class="principal" src="{$platypusURL_1}">
        <img class="secundaria" src="{$platypusURL_2}">
    {   else}
        <p>No hi han més fotos de perrys!</p>
    {   /if}
</div>
<br><br>
